.reverse {
    flex-direction: row-reverse;
}
section {
    margin-top: 10%;
    width: 100%;
    display: flex;
    .phone {
        width: 46.2vh;
        height: 75vh;
    }
    .feature-text {
        margin-top: 20%;
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
    }
    
}